{% extends 'base.html' %}
{% block title %}Hardware List{% endblock %}
{% block content %}
    <h1>Hardware</h1>
    <div class="container">
        {% if hw %}
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Vendor Name</th>
                <th>Model Name</th>
                <th>Action</th>
            </thead>
            <tbody>
                    {% for item in hw %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.hardwareVendor}}</td>
                    <td>{{item.hardwareModel}}</td>
                    <td>
                        <a href="{% url 'update-hw' item.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete-hw' item.id %}" class="btn btn-alert">Delete</a>
                    </td>
                </tr>
                    
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>There's no Hardware added, please add one</h1>
        {% endif %}
        <a class="btn btn-primary bg-dark align-left" href="/hardware/create">Add Hardware</a>
    </div>
{% endblock %}